<% title "В ожидании приглашения" %>

<h1>В ожидании приглашения</h1>

<table cellspacing="10" style="margin-top: 20px">
<% @applicants.each do |applicant| %>
  <tr>
    <td width="350px"><%= applicant.email %></td>
    <td><%= link_to 'Destroy', applicant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
