- title "Регистрация"

.columns
  .column.column-f-x2.b-invite-required   
    %span 
      В настоящий момент регистрация доступна
      %br
      только по приглашениям
    = image_tag 'registration-closed.jpg', :width => 320, :height => 320