.copyright
  %i.logo-small
  %p
    © 2010 Talks, in pair with you-know-who.
    %br/
    Использование материалов Talks разрешено только при наличии активной ссылки на источник.
    %br/
    Все права на картинки, музыку и тексты принадлежат их авторам.
.links
  %ul
    %li
      = link_to 'О проекте', page_path(:id => "about")
    %li
      %a{:href => "#"} Владельцам
    %li
      %a{:href => "#"} Правила
    %li
      %a{:href => "#"} Помощь
.others
  .rss
    %a{:href => recent_posts_path(:format => :rss)}
      RSS
      %i
  .counter
    = render "shared/liveinternet"    
.cat
  %img{:alt => "Serious Cat", :height => "70", :src => "/images/cat-01.jpg", :width => "210"}/