.side-bar
  .name
    .item.photo
      %span.round_picture{:style => "width: 50px; height: 50px;"}
        TODO
    .item.info
      %strong
        TODO
      %small.age
        age current_user.birthday
      %br/
      %small
        TODO 
  %hr/
  .about
    %strong О себе
    %p
      TODO
  %hr/
  .accounts
    %strong Аккаунты
    %ul.list
      %li.item
        .profile.facebook
          %i.icon
          .service Facebook
          %a.id{:href => "http://www.facebook.com/"} robert-532
      %li.item
        .profile.twitter
          %i.icon
          .service Twitter
          %a.id{:href => "http://www.facebook.com/"} robertstadler
      %li.item
        .profile.gtalk
          %i.icon
          .service Google Talk
          %a.id{:href => "http://www.facebook.com/"} robertstadler