.columns
  .column.column-x2
    = render "layouts/sidebar"
  .column.column-x3
    .post
      %h1.sub § 30. Пират
      .sub-header
        .date 2 ноября 2010
        .separator •
        .share
          
  .column.column-x1.column-last