- title "Все параграфы пользователя #{@user.username}"

.columns
  .column.column-x2
    = render '/shared/sidebar'
    
  .column.column-x4
    
    .posts
      .header
        %h3 
          Все параграфы пользователя
          %strong
            = @user.username
      = render :partial => "/posts/post", :collection => @posts, :as => :post
          