- title "Новый параграф"

%h1.form Создание нового параграфа
%span.head-note.block-inline Поля помеченные * обязательны для заполнения

- if @show_week_header && can?(:create, Week)
  .b-line.b-line-thin.b-line-mid
  
  .b-week-info-wrap
    .b-week-info      
      = render "weeks/header"
    .clear
- else
  .b-line.b-line-thin

= render 'form'