.side-bar
  .name
    .item.photo
      %span.round_picture{:style => "width: 50px; height: 50px;"}
        %img{:height => "50", :src => "/images/532_w50_h50.jpg", :width => "50"}/
    .item.info
      %strong Роберт Стэдлер
      %small.age 36
      %br/
      %small Paris, France
  %hr/
  .about
    %strong О себе
    %p Учился в Европейском институте дизайна в Милане, а затем в школе дизайна ENSCI / Les Ateliers в Париже.
  %hr/
  .accounts
    %strong Аккаунты
    %ul.list
      %li.item
        .profile.facebook
          %i.icon
          .service Facebook
          %a.id{:href => "http://www.facebook.com/"} robert-532
      %li.item
        .profile.twitter
          %i.icon
          .service Twitter
          %a.id{:href => "http://www.facebook.com/"} robertstadler
      %li.item
        .profile.gtalk
          %i.icon
          .service Google Talk
          %a.id{:href => "http://www.facebook.com/"} robertstadler